<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pa3X_attacker.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Pa3X_attacker.My.MySettings>
            <setting name="Host" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>5552</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>SGFjS2Vk</value>
            </setting>
            <setting name="PC" serializeAs="String">
                <value>DESKTOP-1MAMO2R</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>Nuke</value>
            </setting>
            <setting name="vDate" serializeAs="String">
                <value>23-03-18</value>
            </setting>
            <setting name="OS" serializeAs="String">
                <value>Win 10 Pro SP0 x64</value>
            </setting>
            <setting name="Cam" serializeAs="String">
                <value>Yes</value>
            </setting>
            <setting name="Ping" serializeAs="String">
                <value>100ms</value>
            </setting>
            <setting name="Ver" serializeAs="String">
                <value>0.7d</value>
            </setting>
            <setting name="Splitkey" serializeAs="String">
                <value>|'|'|</value>
            </setting>
            <setting name="KlStr" serializeAs="String">
                <value>Dawn Of the Final Day. 24 Hours Remain...</value>
            </setting>
        </Pa3X_attacker.My.MySettings>
    </userSettings>
</configuration>
